.pokemon-list-wrapper {
    text-align: center;
}

.pokemon {
    flex-basis: 30%;
}

.pokemon-list-wrapper{
    margin: 2rem auto;
}

.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.control-btns button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #e70f0f;
    color: white;
    margin: 1rem;
}
